.additionally {
  position: relative;
}

.additionally__wrapper {
  margin-left: 20px;
  margin-top: 38px;
}

.additionally-text {
  padding-left: 46px;
  padding-top: 5px;
  padding-bottom: 7px;

  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

.additionally__main-text {
  margin: 21px 0 0 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  width: 280px;
  margin-bottom: 32px;
}

.additionally__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  display: block;
  background-color: $white;
  width: 141px;
  padding-right: 23px;
  padding-left: 40px;
  margin-left: -20px;
}

.additionally__label-checkbox {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: $black;
  display: block;
  position: relative;
  height: 30px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 26px;
  }
}

.additionally-control {
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  box-sizing: border-box;
  position: absolute;
  top: -6px;

  &:hover {
    border: 1px solid #bababa;
  }
}

.additionally__label-checkbox input:checked + .additionally-control {
  &::before {
    content: url("../../img/svg-images/checkmark.svg");
    position: absolute;
    top: 6px;
    left: 5px;
    z-index: 4;
  }
}

.additionally__label-checkbox input:disabled + .additionally-control {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .additionally__label-checkbox {
    display: inline-block;
  }

  .additionally-control {
    width: 40px;
    height: 40px;
    left: -14px;
  }

  .additionally__label-checkbox input:checked + .additionally-control {
    &::before {
      content: url("../../img/svg-images/checkmark.svg");
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 4;
    }
  }

  .additionally__container-checkbox {
    margin-left: 13px;
    display: grid;
    grid-template-columns: 220px 221px;
    column-gap: 124px;
    row-gap: 30px;
    margin-top: 62px;
    margin-bottom: 33px;
  }

  .additionally__wrapper {
    margin-bottom: 72px;
    margin-left: 70px;
  }

  .additionally__title {
    margin-top: 60px;
    font-size: 36px;
    line-height: 36px;
    width: 211px;
    padding-right: 41px;
    padding-left: 39px;
    margin-left: 30px;
  }

  .additionally__main-text {
    display: inline;
    font-size: 16px;
    line-height: 16px;
  }

  .additionally-text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .additionally__wrapper {
    width: 1220px;
    margin-bottom: 84px;
    margin-left: 110px;
  }

  .additionally__container-checkbox {
    grid-template-columns: 201px 201px 201px 219px;
    margin-bottom: 39px;
  }

  .additionally__title {
    margin-top: 65px;
    margin-left: 70px;
  }
}
