.additional-products {
  position: relative;
}

.additional-product__button {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.additional-products__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  background-color: #ffffff;
  width: 226px;
  padding: 0 22px 0 20px;
}

.additional-product__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.additional-product__name {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.additional-products__list {
  padding: 0;
  list-style: none;
  margin: 49px auto 0 auto;
  width: 280px;
}

.additional-product__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.additional-products__item {
  &:not(:last-child) {
    margin-bottom: 31px;
    border-bottom: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    height: 1px;
    background-color: $special-grey;
    width: 280px;
    z-index: 1;
    box-shadow: 0 130px 0 0 $special-grey, 0 260px 0 0 $special-grey, 0 390px 0 0 $special-grey;
  }
}

@media (min-width: $tablet-width) {
  .additional-products__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      display: none;
    }
    padding: 27px 38px;
    border: 1px solid $special-grey;
  }

  .additional-products__list {
    width: 708px;
    margin: 80px auto 0 auto;
  }

  .additional-product__button {
    width: 100%;
    margin-top: 19px;
  }

  .additional-products__title {
    margin-left: 34px;
    padding: 0 37px 0 33px;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    width: 341px;
    margin-top: 68px;
  }

  .additional-product__title {
    display: inline-block;
    width: 163px;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .additional-product__text {
    display: inline-block;
    margin-left: 246px;
    width: 217px;
    justify-content: space-between;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }

  .additional-product__name {
    margin-right: 49px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__item {
    display: flex;
    // justify-content: space-between;
    width: 896px;
    border-right: none;
    border-left: none;
    padding: 16px 0;
  }

  .additional-product__button {
    width: 244px;
    margin-top: 0;
  }

  .additional-products__list {
    display: inline-block;
    width: 896px;
    margin: 46px -32px 85px 110px;
  }

  .additional-products__title {
    padding: 0 35px 0 40px;
    margin-left: 73px;
    margin-top: 78px;
  }

  .additional-product__title {
    align-self: center;
  }

  .additional-product__text {
    margin-bottom: 0;
    align-items: center;
    align-self: center;
    text-align: left;
    margin-left: 162px;
    width: 326px;
  }

  .additional-product__name {
    margin-right: 43px;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    width: 138px;
  }

  .additional-product__wrapper {
    display: flex;
  }

  .additional-product__value {
    margin-left: 58px;
  }
}

@media (min-width: 1441px) {
  .additional-product__wrapper {
    margin: 0 auto;
    width: 1440px;
  }

  .additional-products__title {
    margin-left: auto;
    margin-right: auto;
  }
}
