.address {
  position: relative;
}

.address__desktop-signature {
  display: none;
}

.address__background {
  background-color: $basic-gray;
  justify-content: space-between;
  display: flex;
  margin-top: 13px;
  padding-top: 13px;
  padding-bottom: 11px;
}

.address__background--index {
  padding-top: 0;
  background-color: $white;
}

.address__title {
  color: $special-black;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  width: 139px;
  margin-left: 20px;
}

.address__text {
  line-height: 20px;
  display: inline-block;
  width: 139px;
  margin-right: 20px;
}

.address__iframe {
  width: 100vw;
  height: 362px;
  border: none;
}

.address__br-tablet {
  display: none;
}


@media (min-width: $tablet-width) {
  .address__title {
    width: 172px;
    margin-right: 296px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;
  }

  .address__br-tablet {
    display: block;
  }

  .address__text {
    width: 160px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .address__iframe {
    width: 100vw;
    height: 400px;
  }

  .address {
    margin: 0 auto;
    width: 100vw;
  }

  .address__background {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .address__background {
    display: none;
  }

  .address__iframe {
    width: 100vw;
  }

  .address__title {
    display: none;
  }

  .address__text {
    display: none;
  }

  .address__desktop-signature {
    width: 565px;
    height: 198px;
    display: flex;
    position: absolute;
    background-color: $white;
    padding: 62px 80px;
    box-sizing: border-box;
    justify-content: space-between;
    top: 91px;
    left: 110px;
  }

  .address__title-desktop {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    width: 163px;
    height: 84px;
    margin: 0;
  }

  .address__text-desktop {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 155px;
    height: 79px;
    margin: 0;
  }

  .address__background--index {
    background-color: $white;
  }
}

