@import "variables.scss";

.catalog__title {
  line-height: 36px;
}

.catalog__item-title {
  align-items: center;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
}

.item-subtitle__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.catalog__item:not(:last-child) {
  margin-bottom: 19px;
}
