.show-all__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.show-all__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.show-all {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.show-all__image {
  margin: 0 auto;
}
