.catalog__image {
  width: 84px;
  height: 100px;
  margin-top: 25px;
}

.catalog__anchor {
  color: #222222;
  text-decoration: none;
}

.catalog__title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 27px 0 0 20px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    top: -27px;
    height: 1px;
    background-color: $gray-line;
    width: 100%;
    z-index: -1;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 77px;
    height: 1px;
    background-color: $gray-line;
    width: 100%;
    z-index: -1;
    left: 0;
  }
}

.catalog__table-row {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;

  &::after {
    content: "";
    position: absolute;
    top: 85px;
    height: 1px;
    background-color: $gray-line;
    width: 100%;
    z-index: -1;
    left: 0;
  }
}

.catalog__table-row th {
  font-weight: 400;
}

.catalog__item-title {
  display: block;
  align-items: center;
  text-transform: uppercase;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  width: 76px;
  margin-bottom: 14px;
}

.catalog__all {
  display: flex;
}

.catalog__left {
  min-height: 129px;
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: center;
}

.catalog__right {
  display: inline-block;
  width: 142px;
}

.catalog__table {
  width: 142px;
  position: relative;
}

.catalog__th {
  text-align: right;
}

.catalog__item {
  &::before {
    content: "";
    position: absolute;
    top: 201px;
    height: 1px;
    background-color: $gray-line;
    width: 100%;
    z-index: -1;
    left: 0;
    box-shadow: 0 209px 0 0 #ebeded, 0 418px 0 0 #ebeded, 0 627px 0 0 #ebeded, 0 836px 0 0 #ebeded, 0 1045px 0 0 #ebeded, 0 1254px 0 0 #ebeded;
  }

  &:nth-of-type(odd) .catalog__image {
    width: 81px;
    height: 85px;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .catalog__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  width: 280px;
  margin: 49px auto 0 auto;
  position: relative;
}

.catalog__item-subtitle {
  display: inline-block;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 43px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .catalog__table-row {
    font-family: "Arial", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 37px;
      height: 1px;
      background-color: $gray-line;
      width: 250px;
      z-index: 3;
      left: 0;
      box-shadow: 0 32px 0 0 $gray-line, 0 64px 0 0 $gray-line;
    }
  }

  .catalog__item {
    width: 324px;
    margin: 0;
    flex-direction: column;
    display: flex;
    background: $basic-gray;
    min-height: 430px;

    &::before {
      display: none;
    }

    &:nth-of-type(odd) .catalog__image {
      width: 161px;
      height: 171px;
      margin-top: -44px;
    }
  }

  .catalog__image {
    width: 168px;
    height: 200px;
    margin-top: -73px;
  }

  .catalog__list {
    width: 708px;
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 141px 60px;
    margin-top: 163px;
    margin-bottom: 63px;
  }

  .catalog__all {
    display: inline-block;
    margin: 0 auto;
  }

  .catalog__item-title {
    width: 135px;
    text-align: center;
    margin: 34px auto 0 auto;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__left {
    width: 252px;
  }

  .catalog__item-subtitle {
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
  }

  .catalog__right {
    width: 252px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .catalog__table {
    margin-top: 4px;
    width: 250px;
    border-spacing: 0 14px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    width: 1220px;
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    gap: 145px 80px;
  }

  .catalog__item {
    width: 245px;
    margin: 0;
  }

  .catalog__all {
    width: 245px;
  }

  .catalog__table {
    width: 169px;
  }

  .catalog__table-row {
    &::before {
      width: 169px;
    }
  }

  .catalog__title {
    margin-left: 110px;
    margin-top: 57px;
  }
}
