.comment__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.comment__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .comment__text {
    width: 614px;
  }
}

@media (min-width: $desktop-width) {
  .comment__text {
    width: 1220px;
  }
}
