.comment {
  position: relative;
}

.comment__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 121px;
  display: block;
  background-color: $white;
  margin-right: 0;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -20px;
}

.comment__text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  width: 93%;
  height: 150px;
  box-sizing: border-box;
  resize: none;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #E7E7E7;
  padding: 10px 0 0 15px;
}

@media (min-width: $tablet-width) {
  .comment__text {
    width: 614px;
    margin-left: 70px;
  }

  .comment__title {
    font-size: 36px;
    line-height: 36px;
    width: 182px;
    padding-right: 38px;
    padding-left: 39px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment__text {
    width: 1220px;
    margin-left: 110px;
  }
}
