.contact-data {
  position: relative;
}

.contact-data__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 34px;
}

.contact-data__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  width: 187px;
  display: block;
  background-color: $white;
  padding-right: 14px;
  padding-left: 40px;
  margin-left: -20px;
  margin-top: 4px;
}

.contact-data__label {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  display: flex;

  &:first-child {
    margin-bottom: 9px;
  }
}

.contact-data__label input[type="text"] {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  border: 1px solid $special-grey;
}

.contact-data__input-text {
  width: 100%;
  height: 46px;
  position: relative;
  padding-left: 15px;
}

.contact-data__label-text-mail {
  width: 70px;
  margin-right: 11px;
  align-self: center;
}

.contact-data__label-text-tel {
  width: 68px;
  margin-right: 9px;
  align-self: center;
}

.contact-data__mail-svg {
  position: absolute;
  top: 16px;
  right: 15px;
}

.contact-data__tel-svg {
  position: absolute;
  top: 16px;
  right: 12px;
}

@media (min-width: $tablet-width) {
  .contact-data__title {
    font-size: 36px;
    line-height: 36px;
    width: 514px;
    padding-right: 42px;
    padding-left: 39px;
    margin-left: 30px;
    margin-top: 49px;
  }

  .contact-data__label {
    &:first-child {
      margin-bottom: 22px;
    }
  }

  .contact-data__wrapper {
    margin-left: 70px;
    margin-top: 76px;
  }

  .contact-data__label-text-mail {
    font-size: 20px;
    line-height: 30px;
    width: 85px;
  }

  .contact-data__label-text-tel {
    font-size: 20px;
    line-height: 30px;
    width: 106px;
  }
}

@media (min-width: $desktop-width) {
  .contact-data__label {
    display: flex;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .contact-data__wrapper {
    display: grid;
    grid-template-columns: 572px 572px;
    gap: 78px;
    margin-left: 110px;
  }

  .contact-data__title {
    margin-left: 69px;
    margin-top: 10px;
  }
}
