.description__image-tablet {
  display: none;
}

.description__image-desktop {
  display: none;
}

.description__choose-programm {
  margin: 0 auto;
}

.description {
  background-image: none;
  margin: 0;
}

.description__wrapper {
  // height: 302px;
  flex-direction: column;
  display: flex;
}

.description__title {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 27px 0 0 0;
  width: 250px;
  word-break: break-all;
}

.description__slogan {
  color: $black;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
}

.description__image {
  display: flex;
  margin-top: 29px;
  width: 280px;
  height: 270px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 320px) {
  .description__wrapper {
    background-color: rgba($basic-green, 0.85);
  }

  .description {
    background-image: url("../../img/description-cat.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/description-cat@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .description__title {
    color: $white;
  }

  .description__slogan {
    color: $white;
  }
}

@media (max-width: 767px) {
  .description__title {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    margin-left: 117px;
  }

  .description__title {
    color: $black;
    text-align: left;
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    padding: 43px 0 0 0;
  }

  .description__slogan {
    color: $black;
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin-top: 42px;
  }

  .description__image {
    width: 709px;
    height: 609px;
    margin-left: -87px;
    display: inline-block;
    margin-top: 19px;
  }

  .description__image-tablet {
    display: inline-block;
  }

  .description__choose-programm {
    margin: -583px 0 0 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .description__image-tablet {
    display: none;
  }

  .description__image-desktop {
    position: absolute;
    display: inline;
    width: 552px;
    height: 499px;
    top: 141px;
    z-index: 2;
    margin-left: 410px;
  }

  .description__choose-programm {
    width: 244px;
    position: relative;
    margin: 53px 0 0 0;
  }

  .description__slogan {
    display: inline-block;
    width: 284px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 40px;
  }

  .description__background {
    background-image: url("../../img/description-cat-desktop.png");
    background-repeat: no-repeat;
    width: 50%;
    height: 694px;
    position: absolute;
    left: 50%;
    top: -130px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/description-cat-desktop--full@2x.png");
      background-repeat: no-repeat;
      width: 50%;
      height: 694px;
      position: absolute;
      left: 50%;
      top: -130px;
      background-size: cover;
    }
  }

  .description__background-image {
    background-color: rgba($basic-green, 0.85);
    min-width: 720px;
    height: 694px;
  }

  .description__title {
    width: 417px;
    padding-top: 111px;
  }

  .description__wrapper {
    margin-left: 190px;
    margin-top: -18px;
    margin-bottom: 230px;
  }

  .description__image {
    position: absolute;
    display: inline;
    width: 552px;
    height: 499px;
    top: 10px;
    z-index: 2;
    margin-left: 367px;
  }
}
