.footer__htmlacademy {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
}

.footer__htmlacademy-title {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .footer__htmlacademy {
    align-self: center;
    margin-top: 0;
  }

  .footer__htmlacademy-title {
    margin-right: 22px;
  }
}
