.page__footer {
  background-color: $basic-gray;
  padding: 28px 20px 20px 20px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 7px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__htmlacademy {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  cursor: pointer;

  &:hover .footer__htmlacademy-svg {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}


.footer__htmlacademy-title {
  align-self: center;
}

@media (max-width: 767px) {
  .page__footer {
    &::before {
      content: "";
      position: absolute;
      bottom: 143px;
      height: 1px;
      background-color: rgb(217, 217, 217);
      width: 100vw;
      z-index: 1;
      left: 0;
      box-shadow: 0 63px 0 0 rgb(217, 217, 217);
    }
  }
}

@media (min-width: $tablet-width) {
  .page__footer {
    display: flex;
    justify-content: center;
    padding: 56px 20px 56px 20px;
  }

  .footer__logo {
    align-items: center;
    margin-right: 155px;
    margin-bottom: 0;
  }

  .footer__htmlacademy {
    align-self: center;
    margin-top: 0;
  }

  .footer__htmlacademy-title {
    margin-right: 22px;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
    margin-right: 412px;
    margin-top: 0;
  }

  .page__footer {
    display: flex;
    justify-content: center;
    padding: 51px 20px 56px 20px;
  }
}
