.gift {
  background-image: url("../../img/catalog-cat.png");
  width: 280px;
  min-height: 290px;
  background-repeat: no-repeat;
  margin: 35px auto 35px auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog-cat@2x.png");
    width: 280px;
    min-height: 290px;
    background-repeat: no-repeat;
    margin: 35px auto 35px auto;
    background-size: cover;
  }
}

.gift__wrapper {
  background-color: rgba($basic-green, 0.85);
  width: 280px;
  min-height: 290px;
  box-sizing: border-box;
  padding: 59px 0 20px 0;
  margin-top: 55px;
}

.gift__title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: $white;
  margin: 0 auto;
  width: 161px;
}

.gift__image {
  width: 78px;
  height: 80px;
  margin: 0 auto 48px auto;
  display: block;
}

@media (min-width: $tablet-width) {
  .gift {
    width: 707px;
    min-height: 200px;
    background-image: url("../../img/catalog-cat-tablet.png");
    margin-bottom: 79px;

    @media (min-resolution: 2dppx) {
      width: 707px;
      min-height: 200px;
      background-image: url("../../img/catalog-cat-tablet@2x.png");
      margin-bottom: 79px;
      background-size: cover;
    }
  }

  .gift__wrapper {
    display: flex;
    width: 707px;
    min-height: 200px;
    margin-top: 72px;
  }

  .gift__image {
    margin-left: 78px;
  }

  .gift__title {
    margin-right: 123px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    color: #ffffff;
    width: 161px;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    // display: flex;
    width: 245px;
    // height: auto;
    background-image: url("../../img/catalog-cat-desktop.png");
    box-sizing: border-box;
    margin: 50px auto 35px auto;

    @media (min-resolution: 2dppx) {
      // display: flex;
      width: 245px;
      // height: auto;
      background-image: url("../../img/catalog-cat-desktop@2x.png");
      box-sizing: border-box;
      margin: 50px auto 35px auto;
      background-size: contain;
    }
  }

  .gift__wrapper {
    flex-direction: column;
    min-height: 290px;
    box-sizing: border-box;
    margin: 0;
    width: 245px;
  }

  .gift__title {
    margin-right: 43px;
  }
}
