@import "variables.scss";

.logo__image {
  height: 38px;
  margin-right: 57px;
}

.header {
  height: 65px;
  display: flex;
  align-items: center;
}

.logo__title {
  height: 18px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;
}
