.page__header {
  width: 280px;
  height: 65px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 65px;
}


.header__toggle {
  border: none;

  &::before {
    content: url("../../img/svg-images/toggle-open.svg");
    position: absolute;
    top: 22px;
    right: 5px;
    width: 24px;
    height: 16px;
  }
}


@media (min-width: $tablet-width) {
  .header__toggle {
    display: none;
  }

  .header__logo {
    width: 174px;
  }

  .page__header {
    width: 708px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    width: 202px;
  }

  .page__header {
    width: 1220px;
    justify-content: space-between;
  }
}
