.live-example {
  background-color: $special-gray;
  padding: 25px 0 40px 0;
}

.live-example__fieldset-wrapper {
  display: flex;
  justify-content: center;
}

.live-example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.live-example__title {
  margin: 0;
}

.live-example__kg {
  width: 124px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.live-example__days {
  width: 124px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.live-example__counter {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.live-example__legend {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

.live-example__expenses {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}

.live-example__scroll {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.live-example__image {
  width: 280;
  height: 232;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: $tablet-width) {
  .live-example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .live-example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .live-example__fieldset-wrapper {
    display: inline-block;
  }

  .live-example__expenses {
    display: inline-block;
    margin-left: 142px;
  }
}

@media (min-width: $desktop-width) {
  .live-example__image {
    display: inline-block;
  }

  .live-example__wrapper {
    display: inline-block;
  }

  .live-example__expenses {
    margin: 0;
  }
}
