.live-example {
  background-color: $special-gray;
  padding: 25px 0 40px 0;
  position: relative;
}

.live-example__image-before {
  width: 280px;
  height: 256px;
}

.live-example__image-after {
  width: 280px;
  height: 256px;
  transform: translate(-50%, 0);
}

.live-example__fieldset-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.live-example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.live-example__title {
  margin: 0;
}

.live-example__kg {
  box-sizing: border-box;
  width: 124px;
  margin: 0 32px 0 0;
  padding: 12px 40px;
  display: inline-block;
  position: relative;
}

.live-example__days {
  box-sizing: border-box;
  width: 124px;
  margin: 0;
  padding: 11px 14px;
  display: inline-block;
  position: relative;
  text-align: center;
}

.live-example__legend {
  top: 43px;
  left: 19px;
  width: 77px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  position: absolute;
  background-color: #eaeaea;
}

.live-example__wrapper-image {
  position: relative;
  overflow: hidden;
  width: 140px;
  height: 256px;
  display: inline-block;
}

.live-example__contrast {
  position: relative;

  &::before {
    content: url("../../img/slider-default.png");
    position: absolute;
    top: 0;
    left: -160px;
    z-index: 2;
  }

  &:hover {
    &::before {
      content: url("../../img/slider-hover.png");
      position: absolute;
      top: 0;
      left: -160px;
      z-index: 2;
    }
  }

  &:active {
    &::before {
      content: url("../../img/slider-pressed.png");
      position: absolute;
      top: 0;
      left: -160px;
      z-index: 2;
    }
  }
}

.live-example__slider {
  display: flex;
  justify-content: center;
}

.live-example__counter {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
}

.live-example__expenses {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  margin: 34px 0 20px 0;
}

.live-example__scroll {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.live-example__image {
  width: 280;
  height: 232;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.live-example__text {
  width: 280px;
  margin-bottom: 20px;
  margin-top: 41px;
}


@media (min-width: $tablet-width) {
  .live-example {
    background-color: $white;
  }

  .live-example__counter {
    font-size: 30px;
    line-height: 37px;
  }

  .live-example__kg {
    box-sizing: content-box;
    width: 49px;
    margin: 0 32px 0 0;
    padding: 15px 55px;
    display: inline-block;
    position: relative;
  }

  .live-example__days {
    width: 169px;
    padding: 15px 14px;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 18px;
    margin-bottom: 63px;
  }

  .live-example__text {
    font-size: 16px;
    line-height: 24px;
    width: 701px;
    margin-bottom: 53px;
  }

  .live-example__fieldset-wrapper {
    display: inline-block;
  }

  .live-example__expenses {
    display: inline-block;
    margin-left: 28px;
    font-size: 20px;
    line-height: 30px;
    width: 174px;
    text-align: right;
    margin-bottom: 0;
    position: absolute;
    right: 33px;
    margin-top: 6px;
  }

  .live-example__wrapper-image {
    width: 280px;
    height: 512px;
  }

  .live-example__image-before {
    object-fit: cover;
    width: 280px;
    height: 512px;
    object-position: left;
  }

  .live-example__image-after {
    object-fit: cover;
    // width: 280px;
    width: 479px;
    height: 512px;
    transform: translate(-50%, 0);
  }

  .live-example__wrapper {
    padding-left: 30px;
  }

  .live-example__legend {
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    top: 61px;
  }

  .live-example__contrast {
    position: relative;

    &::before {
      content: url("../../img/slider-default-tablet.png");
      position: absolute;
      top: 0;
      left: -300px;
      z-index: 2;
    }

    &:hover {
      &::before {
        content: url("../../img/slider-hover-tablet.png");
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 2;
      }
    }

    &:active {
      &::before {
        content: url("../../img/slider-hover-tablet.png");
        position: absolute;
        top: 0;
        left: -300px;
        z-index: 2;
        opacity: 0.6;
      }
    }
  }

  .live-example__slider {
    &::before {
      content: "";
      position: absolute;
      background-color: $special-gray;
      width: 100vw;
      height: 462px;
      top: 618px;
    }

    margin-bottom: 47px;
    margin-top: 105px;
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    display: flex;
  }

  .live-example__kg .live-example__legend {
    left: 13px;
  }

  .live-example__days .live-example__legend {
    width: 129px;
  }

  .live-example__image {
    display: inline-block;
  }

  .live-example__title {
    margin-top: -4px;
  }

  .live-example__wrapper {
    display: inline-block;
    padding-left: 110px;
  }

  .live-example__expenses {
    margin-left: 0;
    width: 327px;
    position: static;
    text-align: left;
    margin-top: 55px;
    justify-content: space-between;
    display: flex;
  }

  .live-example__text {
    margin-bottom: 69px;
    width: 433px;
    margin-top: 147px;
  }

  .live-example__slider {
    &::before {
      display: none;
    }
    margin-left: 208px;
    margin-bottom: 47px;
    margin-top: -2px;
  }
}
