.selection__title {
  line-height: 36px;
}

.main__selection {
  margin-left: 20px;
}

.page__main {
  position: relative;
}

.selection__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: $black;
}

.main-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .main__selection {
    margin-left: 70px;
  }
}

@media (min-width: $desktop-width) {
  .main__selection {
    margin-left: 110px;
  }
}
