.manual {
  margin: 20px 0 49px 0;
}

.manual__list {
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .manual__list {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 133px;
  }
}

@media (min-width: $desktop-width) {
  .manual__list {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    gap: 83px;
  }
}
