.manual {
  margin: 20px 20px 49px 20px;
}

.manual__list {
  padding: 0;
  list-style: none;
}

.manual__item {
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .manual__list {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 133px;
  }

  .manual__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .manual__list {
    display: grid;
    grid-template-columns: 230px 246px 248px 250px;
    gap: 83px;
  }
}
