.nav {
  display: none;
  color: $black;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: $black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;

  &:hover {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

.nav__list {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 767px) {
  .nav-opened {
    display: block;
    width: 100%;
    top: 54px;
    z-index: 3;
    background-color: $white;
    height: 215px;
  }

  .nav__item {
    text-align: center;
    padding: 22px;
    border-top: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .nav__link {
    text-transform: uppercase;
  }
}


@media (min-width: $tablet-width) {
  .nav {
    display: flex;
  }

  .nav__list {
    display: flex;
  }

  .nav__item:nth-child(1) {
    margin-right: 34px;
  }

  .nav__item:nth-child(2) {
    margin-right: 0;
    width: 191px;
  }

  .nav__item:nth-child(3) {
    width: 170px;
  }

  .nav__link {
    font-size: 18px;
    line-height: 24px;

    &--active {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        color: $basic-green;
        background-color: $basic-green;
        z-index: 3;
        top: 32px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    z-index: 1;
    margin-top: 37px;
  }

  .nav__item:nth-child(2) {
    width: 204px;
  }

  .nav__item:nth-child(3) {
    width: 170px;
  }

  .nav__link {
    font-size: 20px;
  }

  .nav__link--white {
    color: $white;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      color: rgba($white, 0.6);
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  .nav__link--white-active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      color: #ffffff;
      background-color: #ffffff;
      z-index: 3;
      top: 32px;
    }
  }
}
