.nav {
  display: none;
  color: $black;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: $black;
}

.nav__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

@media (max-width: 767px) {
  .nav-opened {
    display: block;
    // position: absolute;
    width: 100%;
    top: 54px;
    z-index: 3;
    background-color: $white;
    height: 215px;
  }

  .nav__item {
    text-align: center;
    padding: 22px;
    border-top: 1px solid #e6e6e6;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .nav__link {
    text-transform: uppercase;
  }
}


@media (min-width: $tablet-width) {
  .nav {
    display: flex;
  }

  .nav__list {
    display: flex;
  }

  .nav__item:nth-child(1) {
    margin-right: 34px;
  }

  .nav__item:nth-child(2) {
    margin-right: 36px;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    z-index: 1;
  }
}
