.programm {
  background-color: $basic-gray;
}

.programm__text {
  margin-top: 31px;
  margin-bottom: 40px;
  width: 234px;
}

.programm-weight-loss {
  position: relative;
  box-sizing: border-box;
  padding: 21px 33px 18px 18px;
  margin-top: 200px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/programm-weight-loss-cat.png");
    background-size: contain;
    height: 53px;
    width: 50px;
    z-index: 2;
  }
}

.programm-weight-gain {
  position: relative;
  box-sizing: border-box;
  padding: 21px 33px 18px 18px;
  margin-top: 20px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/programm-weight-gain-cat.png");
    background-size: contain;
    height: 50px;
    width: 67px;
    z-index: 2;
    left: 11px;
  }
}

.programm__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 69px;
  margin-top: 7px;
  color: $black;
}

.programm__catalog-button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  padding-right: 49px;
  position: relative;

  &::before {
    content: url("../../img/svg-images/programm-arrow.svg");
    position: absolute;
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .programm-weight-loss {
    margin-top: 544px;
    padding: 82px 0 58px 52px;

    &::before {
      top: 88px;
      height: 211px;
      width: 200px;
      right: 62px;
    }
  }

  .programm-weight-gain {
    padding: 77px 0 58px 52px;
    margin-top: 29px;

    &::before {
      top: 92px;
      height: 200px;
      width: 268px;
      left: 412px;
    }
  }

  .programm {
    width: 708px;
    // padding: 77px 0 58px 52px;
  }

  .programm__catalog-button {
    font-size: 20px;
    line-height: 30px;

    &::before {
      content: url("../../img/svg-images/programm-arrow.svg");
      position: absolute;
      right: -10px;
      top: -3px;
    }
  }

  .programm__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 1px;
  }

  .programm__text {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 51px;
    color: $black;
    margin-top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .programm {
    display: inline-block;
    width: 570px;
  }

  .programm-weight-loss {
    margin-right: 74px;
    margin-left: 110px;
    margin-top: 363px;
    padding: 76px 0 57px 52px;

    &::before {
      width: 100px;
      height: 106px;
      left: 52px;
      top: 41px;
    }
  }

  .programm-weight-gain {
    padding: 77px 0 58px 54px;
    margin-top: 29px;

    &::before {
      width: 134px;
      height: 100px;
      left: 35px;
      top: 47px;
    }
  }

  .programm__text {
    width: 467px;
    margin-bottom: 27px;
  }

  .programm__title {
    padding-left: 162px;
    margin-bottom: 73px;
    margin-top: 0;
  }
}
