.programm {
  background-color: $basic-gray;
}

.programm-weight-loss {
  box-sizing: border-box;
  padding: 21px 33px 18px 20px;
  margin-top: 200px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  // min-height: 374px;
}

.programm-weight-gain {
  box-sizing: border-box;
  padding: 21px 33px 18px 20px;
  margin-top: 20px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  // min-height: 374px;
}

.programm__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 69px;
}

.programm__catalog-button {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  padding-right: 49px;
  position: relative;

  &::before {
    content: url("../../img/svg-images/programm-arrow.svg");
    position: absolute;
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .programm-weight-loss {
    margin-top: 490px;
  }

  .programm {
    width: 650px;
  }

  .programm__catalog-button {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programm {
    display: inline-block;
    width: 570px;
  }

  .programm-weight-loss {
    margin-right: 74px;
  }
}
