.selection__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  display: block;
  margin-left: 20px;
  margin-bottom: 35px;
}

.selection__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
  margin: 0 0 39px 0;
}

@media (min-width: $tablet-width) {
  .selection__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-left: 0;
    margin-top: 43px;
  }

  .selection__subtitle {
    font-size: 20px;
    line-height: 30px;
    width: 324px;
    margin-bottom: 66px;
    margin-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .selection__title {
    margin-top: 55px;
  }
}
