.show-all__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  margin: 23px 0 8px 0;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $gray-line;
    z-index: -1;
  }
}

.show-all__button {
  padding: 10px 90px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-all__subtitle {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin: 0 0 21px 0;
}

.show-all {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.show-all__image {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;

  &::after {
    content: url("../../img/svg-images/plus.svg");
  }
}

@media (min-width: $tablet-width) {
  .show-all__title {
    margin: 49px auto 0 auto;
    width: 134px;

    &::before {
      display: none;
    }
  }

  .show-all__image {
    width: 60px;
    height: 60px;

    &::after {
      content: url("../../img/svg-images/plus-additionally.svg");
      width: 60px;
      height: 60px;
    }
  }

  .show-all__subtitle {
    margin: 23px auto 87px auto;
    width: 167px;
  }

  .show-all {
    border: 2px solid $basic-gray;
    margin: 0;
    padding: 70px 0 50px 0;
  }

  .show-all__button {
    width: 248px;
    padding: 10px 50px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .show-all__button {
    width: 169px;
    padding: 10px 30px;
    margin: 0 auto;
  }
}
