.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $basic-green;
  cursor: pointer;
  border: none;
  color: $white;
  text-decoration: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 280px;
}

.additional-button {
  background-color: $basic-gray;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .description__choose-programm {
    margin-top: -100px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 100%;
  }
}
