.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: $basic-green;
  cursor: pointer;
  border: none;
  color: $white;
  text-decoration: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  // padding-top: 12px;
  // padding-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.button--item {
  // height: 40px;
  margin: 16px auto 0 auto;
  display: block;
}

.button--additional {
  background-color: $basic-gray;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

  &:hover {
    background-color: #ebebeb;
  }
}

@media (min-width: $tablet-width) {
  .button--submit {
    width: 282px;
    height: 52px;
    margin-right: 61px;
    font-size: 20px;
  }

  .button--item {
    width: 248px;
    margin: 26px auto 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .button--item {
    margin: 29px auto 0 auto;
    width: 170px;
  }

  .button--submit {
    width: 568px;
    margin-right: 79px;
  }
}
