body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.heading {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;
}

.line-container {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    height: 2px;
    width: 100vw;
    background-color: $basic-green;
    z-index: -1;
  }
}

.line-container-additionally {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    height: 2px;
    width: 100vw;
    background-color: $basic-green;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .line-container {
    &::before {
      top: 21px;
    }
  }

  .line-container-additionally {
    &::before {
      top: 21px;
    }
  }
}
