// Начните писать стили здесь
@import "variables.scss";
@import "general.scss";
@import "button.scss";
@import "fonts.scss";
@import "blocks/additional-products.scss";
@import "blocks/additionally.scss";
@import "blocks/address.scss";
@import "blocks/catalog.scss";
@import "blocks/comment.scss";
@import "blocks/contact-data.scss";
@import "blocks/description.scss";
@import "blocks/footer.scss";
@import "blocks/form-questionnaire__choice.scss";
@import "blocks/form-questionnaire.scss";
@import "blocks/gift-desktop";
@import "blocks/gift";
@import "blocks/header.scss";
@import "blocks/live-example.scss";
@import "blocks/logo.scss";
@import "blocks/main.scss";
@import "blocks/manual.scss";
@import "blocks/nav.scss";
@import "blocks/programm.scss";
@import "blocks/selection.scss";
@import "blocks/show-all.scss";
@import "blocks/socials.scss";
